@import "variables";
@import "mixins";
@import "queries";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
  font-family: $FontDefault;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $FontSecond;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header {
  background-color: #fff;
  background-color: $lightblue;
  color: $darkgrey;
  border-bottom: 1rem solid $medblue;
  border-top: 1rem solid $darkblue;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $darkblue;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  background-color: $lightbrown;
  color: $darkbrown;
}

.bg-content1 {
  background-color: #fff;
  color: $darkgrey;
}

.bg-content2 {
  background-color: $lightblue;
  color: $darkblue;
}

.bg-footer {
  background-color: #fff;
  color: $lightgrey;
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;
  h1 {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    width: 100%;
    ul { li {
      width: 100%;
      float: none;
    }
  }
}
}
section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }
  &.content1, &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid $darkblue;
  margin-bottom: 2rem;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: 2rem 0;
  p:last-child {}
}

/***********************************************
                NAVIGATION
***********************************************/

header {
  nav {
    padding: 2rem 0;
    clear: both;
     ul{
        li{
           a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $darkgrey;
      font-size: 1.414rem;
      letter-spacing: 0.25rem;
      border: 1px solid $lightgrey;
      border-bottom: none;
      padding: 1.0rem 2rem;
      line-height: 1;
      background-color: #fff;
      &:hover {
        font-weight: 700;
        color: $darkbrown;
      }
    }
  }
}
}
  h1 {
    color: $darkbrown;
    letter-spacing: 0.1rem;
    i.fa-lg {
      display: block;
      width: 25%;
      float: left;
      font-size: 7rem;
      line-height: 12.7936rem;
      color: $lightbrown;
      ~ span {
        float: right;
        width: 75%;
        font-size: 3.998rem;
        /**
        2 lines of 3.998 * 1.6 = 12.7936
        **/
        padding-left: 1rem;
        text-align: right;
      }
    }
  }
}

/***********************************************
                CONTENT
***********************************************/

.focal {
  h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
  }
  .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
      @extend.author;
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem;
    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
  }
  h4 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
  }
  li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
  }
}

/***********************************************
                FOOTER
***********************************************/

footer {
  h4 {
    font-size: 1.414rem;
    padding: 0.5rem 2rem;
    color: $darkbrown;
  }
  p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $darkgrey;
  }
  .fa-circle {
    color: $darkgrey;
  }
  h4 {
    &[lang=de] {
      display: block;
    }
    &[lang=en], &[lang=ar], &[lang=ru] {
      display: none;
    }
  }
